body {
  header.main-header {
        padding-bottom:20px;

        .navbar {
          border-radius:0;
      }

        .navbar-brand {
          font-family: 'Architects Daughter', cursive;
        }
  }
}
