header.main-header
  nav.navbar.navbar-inverse
    .container-fluid
      .navbar-header
        h1.navbar-brand
          span James Johnstone
      .navbar-collapse.collapse
        ul.nav.navbar-brand.navbar-nav.navbar-right
          li
            a.fa.fa-google-plus(href='#')
          li
            a.fa.fa-github(href='#')
          li
            a.fa.fa-stack-overflow(href='#')
