doctype html

html(ng-app='app')
	head
		title JJ
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(href="/flavicon.ico", rel="shortcur icon", type="image/x-icon")
		link(rel="stylesheet", href="/css/app.css")
	body
		block main-content
	include scripts
